<h2 class="text-2xl mb-2">Activity</h2>
@for (timeRange of orderedExpenses().keys(); track timeRange) {
  <div class="flex items-center mt-2">
    <div class="flex-1 border-b border-gray-600"></div>
    <p class="text-gray-400 text-sm ml-3 mr-3">{{ timeRange }}</p>
    <div class="flex-1 border-t border-gray-600"></div>
  </div>

  @for (expense of orderedExpenses().get(timeRange); track expense.id) {
    <a
      class="flex flex-row flex-nowrap justify-between items-center border border-gray-700 rounded-xl p-3 mt-2"
      [routerLink]="['/expense', expense.id]"
    >
      <p>{{ expense.category?.name ?? 'unknown category' }}</p>
      <p class="font-bold">{{ expense.price | euro }}</p>
    </a>
  }
} @empty {
  <p class="text-center text-gray-400 mt-5 text-sm whitespace-pre-line">
    {{ emptyMessage() }}
  </p>
}
