<div class="flex flex-row flex-wrap justify-between items-end h-10">
  <h1 class="text-3xl">My Expenses</h1>
  <a [routerLink]="'settings'"><mat-icon>settings</mat-icon></a>
</div>

@if (allExpenses().length > 0) {
  <div class="mt-5">
    <graph [allExpenses]="allExpenses()"></graph>
  </div>
}

<h2 class="text-2xl mt-10 mb-4">Create expense</h2>
<category-cards class="block"></category-cards>
<expenses
  class="block mt-10"
  [expenses]="allExpenses()"
  [emptyMessage]="'You don\'t have any expenses tracked yet.\nStart by tapping a category.'"
></expenses>
