<div style="view-transition-name: slide-view-over">
  <div class="flex flex-row flex-wrap justify-between">
    <h1 class="text-3xl">{{ category.name }}</h1>
    <a matIconButton routerLink="edit">
      <mat-icon>edit</mat-icon>
    </a>
  </div>

  <div class="flex flex-col flex-nowrap gap-11 mt-11">
    <h2 class="text-2xl">Enter expense</h2>
    <money-input (inputNumber)="onMoneyInput($event)"></money-input>
    <button
      matButton="filled"
      [disabled]="createExpenseButtonDisabled()"
      (click)="onSaveExpenseButton()"
      class="w-full"
    >
      Save
    </button>
  </div>
</div>
